.home-page {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}

@media (min-width: 881px) {
    .home-page > footer {
        display: none !important;
    }
}