.call-to-action h2 {
    color: #F4CE14;
    font-size: 64px;
    margin: 0;
    line-height: 0.8;
}

.call-to-action h3 {
    font-size: 40px;
    line-height: 0.2;
    margin-top: 16px;
}

.call-to-action p {
    font-size: 18px;
    font-family: 'Karla', Arial, serif;
    width: 300px;
}

@media (max-width: 832px) {
    .call-to-action p {
        width: 50vw;
    }
}