.call-to-action h2 {
    color: var(--primary-b-color);
    margin: 0;
    line-height: 0.8;
}

.call-to-action h3 {
    color: var(--light-gray);
    line-height: 0.2;
    margin-top: 16px;
}

.call-to-action p {
    width: 300px;
}

@media (max-width: 832px) {
    .call-to-action p {
        width: 50vw;
    }
}