header {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 406px;
    font-family: 'Markazi Text', serif;
    color: white;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header section img {
    width: 380px;
    height: 429px;
    border-radius: 16px;
    margin-top: 66px;
}