header {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 406px;
    color: white;
    width: 100%;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header section img {
    width: 380px;
    height: 429px;
    border-radius: var(--border-radius-normal);
    margin-top: 66px;
}

@media (max-width: 832px) {
    header section img {
        width: 30vw;
        height: 33.85vw;
    }
}
