footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 24px;
    justify-content: center;
}

footer img {
    width: 100px;
    height: 180px;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding-left: 0;
}

footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

@media (max-width: 768px) {
    footer img {
        width: 80px;
        height: 144px;
    }

    footer section {
        gap: 30px;
    }
}